<footer class="grid-container--auto   bg-main   padding--lg    card   ">
  <div class="bg-accent   padding--lg">
    <p>Graphic credits:</p>
    <ul>
      <li>
        <a href="https://undraw.co/" target="_blank" rel="noreferer noopener"
          >Undraw</a
        >
      </li>
      <li>
        <a href="https://humaaans.com/" target="_blank" rel="noreferer noopener"
          >Humaaans</a
        >
      </li>
      <li>
        <a
          href="https://heropatterns.com/"
          target="_blank"
          rel="noreferer noopener"
          >Hero Patterns</a
        >
      </li>
    </ul>
  </div>
  <div class="bg-accent   padding--lg">
    <p>
      <strong id="jamstack">What is the JAMStack?</strong>
    </p>
    <ul>
      <li><strong>{ J }</strong> avaScript</li>
      <li><strong>{ A }</strong> PI's</li>
      <li><strong>{ M }</strong> arkup</li>
      <li>
        <a href="https://jamstack.org" target="_blank" rel="noreferer noopener"
          >Learn more about the JAMStack</a
        >
      </li>
    </ul>
  </div>
  <div class="bg-accent   padding--lg">
    <p>
      Built with
      <a href="https://11ty.dev" target="_blank" rel="noopener noreferer"
        >11ty</a
      >
    </p>
    <small>
      copyright &copy; 2020 laura is here
    </small>
  </div>
</footer>
