<header>
  <div class="container">
    <p class="h1">
      <span class="text--bg-line--primary">Laura Gabrielle</span><br />
      <small class="bg-accent"> Web designer & developer </small>
    </p>
  </div>
</header>
