<header>
  <div class="container">
    <p class="h1">
      <a href="/" class="no-style-link">
        <span class="text--bg-line--accent">Laura Gabrielle</span><br />
      </a>
      <small class="bg-main">
        Web designer & developer
      </small>
    </p>
    {% include "navigation.njk" %}
  </div>
</header>
