<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta
    name="description"
    content="I am a freelance web developer specializing in accessible, fast, and mobile-friendly sites."
  />
  <link rel="stylesheet" href="/styles/main.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap"
    rel="stylesheet"
  />
  <link href="/images/logo.png" rel="shortcut icon" type="image/ico" />
  <link href="https://laura-is-here.github.io" rel="canonical" />
</head>
