<div class="navbar   ">
  <div class="position-relative">
    <button class="switch" id="themeSwitch" aria-pressed="false">
      <i class="fas fa-moon"></i>
      Toggle Dark Theme
    </button>
    <button class="switch" id="colorSwitch" aria-expanded="false">
      <i class="fas fa-brush"></i>
      Choose Theme Color
    </button>
    <ul class="list-group   collapsible    bg-main   card" hidden>
      <li>
        <button class="close">
          <small>
            <i class="fas fa-window-close"></i>
            Close
          </small>
        </button>
      </li>
      <li>
        <button class="switch    orange-hue"></button>
      </li>
      <li>
        <button class="switch    blue-hue"></button>
      </li>
      <li>
        <button class="switch    pink-hue"></button>
      </li>
    </ul>
  </div>
</div>
