<footer id="contact">
    <div class="flex-container">
        <div>
            <h1>contact <span class="border-bottom-accent">stuff</span></h1>
            <p>
                email: <a href="mailto:lauras_here@pm.me">
                   lauras_here@pm.me
                </a>
            </p>
            <p>
                twitter: <a href="#">
                    under construction 
                </a>
            </p>
        </div>
        <div class="">
            <h1>navigation <span class="border-bottom">stuff</span></h1>
            <ul>
            {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" class="no-link-style">
                        {{ item.name }}{% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            {% endfor %}
            </ul>
            <p class="accent-color-main">
                copyright &copy; 2019 laura is <span class="border-bottom-accent">here</span>
            </p>
        </div>
    </div>
</footer>