<footer id="contact">
    <div class="flex-container">
        <div>
            <h1><span class="border-bottom-accent">contact</span></h1>
            <ul>
                <li>
                    <a href="mailto:lauras_here@pm.me">
                        <i class="fas fa-envelope"></i>
                        lauras_here@pm.me
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        under construction 
                    </a>
                </li>
                <li>
                    <a href="https://github.com/laura-is-here">
                        <i class="fab fa-github"></i>
                        laura-is-here
                    </a>
                </li>
            </ul>
        </div>
        <div class="">
            <h1><span class="border-bottom">navigation</span></h1>
            <ul>
                {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" class="no-link-style">
                        {{ item.name }}{% if page.url == item.link %}<span class="sr-only">(current)</span>{% endif %}
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p class="accent-color-main">
        copyright &copy; 2019 laura is <span class="border-bottom-accent">here</span>
    </p>
</footer>