@import "/assets/vendor/normalize.css";
@import "variables";
@import "extends";

:root {
    --main-color: #5BCEFA;
    --main-color-muted: #429BBB;
    --main-color-bright: #82DAFB;
    --accent-color: #FE66CB;
    --accent-bg: #F1ECF0;
    --main-bg: #ecf0f1;
    --main-bg-muted: #DFE2E3;
    --main-font-color: #45454a;
    --main-font-family: "Noto Sans SC", "Fira Sans", "Open Sans", sans-serif;
    --dark-bg: #24242a;

    small {
      font-size: 75%;
      font-weight: lighter;
      opacity: 0.9;
      line-height: $base-line-height * 0.8;
    }

}
html {
  scroll-behavior: smooth;
}
body {
    font-family: var(--main-font-family);
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: var(--main-font-color);
    background-color: var(--main-bg);
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.3;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.4;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.6;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans Condensed", "Work Sans", sans-serif;
  line-height: $base-line-height*0.9;
}
header {
    padding: 15px;
    background-color: var(--off-white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    h1,h2 {
        margin: 0.3em auto;
    }
}
a {
  &:link {
    color: var(--main-color-muted);
    text-decoration: none;
  }
  &:visited {
    color: var(--main-color-muted);
    opacity: 0.8;
  }
  &:hover,
  &:active,
  &:focus {
    color: var(--main-bg);
    background-color: var(--main-color-muted);
  }
}
.logo {
  &:link {
    color: none;
    background-color: initial;
    text-decoration: none;
  }
  &:visited {
    background-color: initial;
    color: none;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: initial;
    color: none;
  }
}
main {
  flex: 1;
}
.container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 8%;
  }

  @media #{$mq-large} {
    margin: 0 16%;
  }

  @media #{$mq-xlarge} {
    margin: 0 20%;
  }
}
.flex-container { // only use in .container
  display: flex;
  flex-flow: column nowrap;

  @media #{$mq-medium} {
    flex-flow: row wrap;
  }

  @media #{$mq-large} {
    flex-flow: row nowrap;
  }

  @media #{$mq-xlarge} {
  }
}
nav {
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: var(--dark-bg);
    transition: 0.3s ease-in-out;
    border-top: 1px solid var(--main-color);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);

    h1 {
      font-size: 1.4em;
    }

    li {
      color: var(--main-bg);
    }

    img {
      padding-left: 10px;
    }

    .active:visited {
      color: var(--main-color);
    }

    button {
        display: none;
    }

    div {
        padding: 0;
    }
    
    @media #{$mq-small} {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
}
.js button {
    position: absolute;
    right: 10px;
    top: 7.5px;
    display: block;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--main-bg);

    &:hover,
    &:active,
    &:focus {
      color: var(--main-color);
    }

    span {
      display: block;
    }

    @media #{$mq-small} {
        display: none;
    }
}
.js .nav-content {
    display: none;
    transition: 0.5s ease-in-out;
    
    @media #{$mq-small} {
        display: block;
    }
}
.js .show {
    display: block
}

.shrink {
  width: 40%;
  margin: 0 auto;
  border-radius: 20px;
  border-top: 5px solid var(--main-color);
  opacity: 0.95;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.4);
}

.nav-links {
  list-style: none;
  padding: 0;

    @media #{$mq-small} {
        display: flex;
        flex-flow: row nowrap;
    }

}
.nav-link:link,
.nav-link:visited {
  color: var(--main-color);
  text-decoration: none;
  display: block;
  padding: 5px 5px;
  color: var(--main-bg);

  @media #{$mq-small} {
    padding: 5px 15px;
  }

  &:hover,
  &:active {
    color: var(--main-color);
    background-color: var(--main-font-color);
  }
}
.color-main {
  color: var(--main-color);
}
.card {
  background-color: var(--main-bg);
  padding: 15px;
  color: var(--main-font-color);
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);

  h2 {
    color: var(--main-color);
  }

  @media #{$mq-medium} {
    margin: 25px;
  }
}
.header-link {
  text-decoration: none;
  &:link {
    color: var(--main-color);
    padding-bottom: 5px;
  }
  &:visited {
    color: var(--main-color-muted);
  }
  &:active,
  &:focus,
  &:hover {
    color: var(--main-bg);
    border-bottom: 5px solid var(--accent-color); 
  }
}
.border-bottom {
  border-bottom: 5px solid var(--main-color);
}
.border-bottom-accent {
  border-bottom: 5px solid var(--accent-color);
}
footer {
  background-color: var(--main-bg-muted);
  @extend %flex-center;

  .flex-container div {
    padding: 0 3em;
  }
}