{{ define "main" }}
<section class="">
    <div class="container">
        <h1>
            <span class="text--bg-line--primary">
                Latest posts
            </span>
        </h1>
        <ul class="list-group   grid-container">
            {{ range .Pages.ByPublishDate.Reverse }}
            <li class="measure--md    flex-item    padding-x--lg">
                <h2>
                    <a href="{{ .RelPermalink }}" class="anchor">
                        <span class="text--bg-line--accent">
                            {{ .Title | markdownify }}
                        </span>
                    </a>
                </h2>
                <p class="font-color-muted    margin-top--sm">
                    <em>
                        <small>posted on </small>
                        <strong>{{ .Date.Format "January 2, 2006" }}</strong>
                        <small>by</small>
                        <strong>{{ .Page.Params.author }}</strong>
                    </em>
                </p>
                {{ .Summary | markdownify }}
            </li>
            {{ end }}
        </ul>
        {{ partial "sidebar.html" . }}
    </div>
</section>
{{ end }}