<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <meta name="description" content="I am a queer and trans web designer and developer.">
        <meta property="og:title"       content="Laura is here.">
        <meta property="og:site_name"   content="Laura is here. | https;//laura-is-here.github.io">
        <meta property="og:type"        content="website">
        <meta property="og:image"       content="{{ '/assets/images/site-screenshot.jpg' | prepend: site.baseurl }}">
        <meta property="og:url"         content="https://laura-is-here.github.io">
        <meta property="og:description" content="I am a queer and trans web designer and developer.">

        <link href="{{ '/assets/images/Pink_triangle.svg.png' | prepend: site.baserul }}" rel="shortcut icon" type="image/ico">

        <link href="https://laura-is-here.github.io" rel="canonical">
    </head>
    <body>
        {% include header.html %}
        {% include navigation.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
        <!--Font Awesome SVGs-->
        <script src="/assets/vendor/all.js"></script>
        <!--Your site scripts-->
        <script src="/assets/js/script.js"></script>
    </body>
</html>
